<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Tarea 1 - Estadísticas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <div class="container-graficos">
                <img src="{{ url_for('static', filename='img/lineas.png') }}" alt="Gráfico de líneas que informa la cantidad de actividades por día.">
                <img src="{{ url_for('static', filename='img/torta.png') }}" alt="Gráfico de torta que muestra el total de actividades por tipo.">
                <img src="{{ url_for('static', filename='img/barras.png') }}" alt="Gráfico de barras que muestra tres barras por mes que indica la cantida de actividades que inician en la mañana, mediodía y por la tarde (por separado).">
            </div>
            <a href="/">Volver a la portada</a>
        </div>
    </body>
</html>