<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Tarea 1 - Portada </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{{ url_for('static', filename='css/tabla.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="title-home"> Actividades Recreativas App</h1>
        <div class="btn-home">
            <a href="/addactivity"> Agregar actividad </a> <br>
            <a href="/activities"> Ver listado de actividades </a> <br>
            <a href="/statistics"> Estadísticas </a>
        </div>
        <table class="table-home">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Tema</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                {% if actividades %}
                    {% for actividad in actividades %}
                        <tr>
                            <td> {{ actividad.dia_hora_inicio | safe }} </td>
                            <td> {{ actividad.dia_hora_termino | safe }} </td>
                            <td> {{ actividad.comuna.nombre }}</td>
                            <td> {{ actividad.sector }}</td>
                            <td> {{ actividad.actividad_tema[0].tema if actividad.actividad_tema!=[] else '' }} </td>
                            <td> <img height=100 src= {{ actividad.foto[0].ruta_archivo }}> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>
    </body>
    <!--
                <tr>
                    <th>
                        2025-03-28 <br> 
                        12:00
                    </th>
                    <th>
                        2025-03-28 <br> 
                        14:00
                    </th>
                    <th>Santiago</th>
                    <th>Beauchef 850, terraza</th>
                    <th>Escuela de Boxeo</th>
                    <th><img height=100 src="https://pbs.twimg.com/media/Fx4FcgVWAAEJXO6.jpg" alt="Perrito boxeador"></th>
                </tr>
                <tr>
                    <th>
                        2025-03-29 <br> 
                        19:00
                    </th>
                    <th>
                        2025-03-28 <br> 
                        20:00
                    </th>
                    <th>Nuñoa</th>
                    <th>Plaza</th>
                    <th>Cómo deshidratar fruta</th>
                    <th><img height=100 src="https://img.freepik.com/vector-premium/dibujo-vectorial-chips-manzana-rodajas-secas-fruta-deshidratada-tentempie-manzana-comida-vegana-saludable-al-horno_687370-7.jpg" alt="fruta deshidratada"></th>
                </tr>
                <tr>
                    <th>
                        2025-03-30 <br> 
                        19:00
                    </th>
                    <th>
                        -
                    </th>
                    <th>Santiago</th>
                    <th>Parque O'higgins</th>
                    <th>Música urbana</th>
                    <th><img height=100 src="https://img.freepik.com/fotos-premium/perro-lindo-escuchando-musica-auriculares-usando-ropa-urbana-moda-gafas-sol_145713-16410.jpg" alt="perrito escuchando música"></th>
                </tr>
                <tr>
                    <th>
                        2025-04-11 <br> 
                        19:00
                    </th>
                    <th>
                        2025-04-13 <br> 
                        23:00
                    </th>
                    <th>La Reina</th>
                    <th>Parque Alberto Hurtado</th>
                    <th>Festival Familiar</th>
                    <th><img height=100 src="https://media.istockphoto.com/id/1178988879/es/foto/perro-marr%C3%B3n-corriendo-sobre-la-hierba.jpg?s=612x612&w=0&k=20&c=_KbJ2slZg2uhmQf5OLGewaJz_1vq8TZTUNR-v83YmO0=" alt="perrito paseando"></th>
                </tr>
                <tr>
                    <th>
                        2024-12-01 <br> 
                        12:00
                    </th>
                    <th>
                        -
                    </th>
                    <th>Santiago</th>
                    <th>Alameda</th>
                    <th>Desfile personajes Disney</th>
                    <th><img height=100 src="https://static.wixstatic.com/media/a604ca_75db908403b84e7ba50114363a3e6f5c~mv2.jpg/v1/fill/w_568,h_340,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a604ca_75db908403b84e7ba50114363a3e6f5c~mv2.jpg" alt="perro chocolo en el paris parade"></th>
                </tr> -->
</html>