table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    margin: auto;
}

td, th {
    border: 1px solid rgb(190,190,190);
}
td {
    text-align: center;
    padding: 10px;
}
.listado-actividades{
    margin-top: 5%;
}